:root {
    --orange: #c04d00;
    --lighter-orange: #e57636;
    --offwhite: #f8f8f8;
    --light-grey: #f0f0f0;
    --medium-grey: #888888;
    --dark-grey: #222222;
  
    --font: 'Lato', sans-serif;
  }
  
  .brandName {
    font-weight: bold;
    color: var(--orange);
    text-transform: uppercase;
  }
  
  .productTitle {
    font-weight: bold;
    color: var(--dark-grey);
    padding-bottom: 10px;
  }
  
  .productDescription {
    font-family: var(--font);
    color: var(--medium-grey);
    font-size: 0.9em;
  }
  
  .currentPrice{
    font-weight: bold;
    color: var(--dark-grey);
  }
  
  .oldPrice {
    font-weight: bold;
    color: var(--dark-grey);
  }

  .responsiveNavLinks{
    font-weight: bold;
    color: var(--dark-grey);
  }
  
  body {
    background-color: var(--offwhite);
    color: var(--medium-grey);
    font-family: var(--font);
    font-size: 16px;
  }

