:root {
    --orange: #c04d00;
    --light-orange: #e57636;
    --lighter-orange: #f7e0d3;
    --offwhite: #f8f8f8;
    --light-grey: #f6f6f6;
    --medium-grey: #a6a6a6;
    --dark-grey: #222222;
  
    --font: 'Lato', sans-serif;
  }
  
  // PRODUCT DESCRIPTION

  .brandName {
    font-weight: bold;
    color: var(--light-orange);
    text-transform: uppercase;
  }
  
  .productTitle {
    font-weight: bold;
    color: var(--dark-grey);
    padding-bottom: 10px;
  }
  
  .productDescription {
    font-family: var(--font);
    color: var(--medium-grey);
    font-size: 0.9em;
  }
  
  .currentPrice {
    font-weight: bold;
    font-size: 1.3em;
    color: var(--dark-grey);
  }
  
  .oldPrice {
    font-weight: bold;
    color: var(--medium-grey);
    font-weight:400;
    text-decoration: line-through;
  }

  .discountTag {
    padding:1px 4px;
    margin-left: 15px;
    background-color: var(--lighter-orange);
    color: var(--light-orange);
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.7em;
  }

  .responsiveNavLinks{
    font-weight: bold;
    color: var(--dark-grey);
  }
  
  body {
    background-color: var(--offwhite);
    color: var(--medium-grey);
    font-family: var(--font);
    font-size: 16px;
  }

