// _mobile.scss

@media (max-width: 767px) {

    // BURGER
    .burgerIcon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 24px;
      height: 20px;
      cursor: pointer;
      padding: 3px;
    }

    .burgerLine {
      width: 100%;
      height: 2px;
      background-color: black;
      transition: transform 0.3s ease;
    }

    .burgerLineActive {
      width: 100%;
      height: 2px;
      background-color: black;
      transform: rotate(45deg);
      transition: transform 0.3s ease;
    }

    .burgerLineActive::before,
    .burgerLineActive::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: black;
      transition: transform 0.3s ease;
    }

    .burgerLineActive::before {
      top: -6px;
      transform: rotate(-90deg);
    }

    .burgerLineActive::after {
      top: 6px;
      transform: rotate(90deg);
    }


    // MODAL

    .customHeader {
      border-bottom: none!important;
      background-color: transparent;
    }

    .customModal {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 1050;
      padding-right: 30%; 
      background-color: transparent; 
    }

    // LINKS
    .navLinks a {
      color: var(--dark-grey);
      font-weight: bold;
      &:hover {
        color: var(--medium-grey);
        font-weight: bold;
      }
    }
}