#navbar{
    border-bottom: 2px solid var(--light-grey);
}

.avatar, .cartIcon {
  width: 25px;
  height: auto;
}

// BURGER

.burgerIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 20px;
  cursor: pointer;
  padding: 3px;
  margin-top: 5px;
}

.burgerLine {
  width: 100%;
  height: 2px;
  background-color: black;
}

// LINKS

.navLinks a {
  color: var(--dark-grey);
  font-weight: bold;
  &:hover {
    color: var(--medium-grey);
    font-weight: bold;
  }
}

// MODAL 1

.customHeader {
  border-bottom: none!important;
  background-color: transparent;
}

.customModal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1050;
  padding-right: 30%; 
  background-color: transparent; 
}

// MODAL 2

.customSecondModal {
  width: 350px!important;
}

